{% extends "base.html" %}
{% block title %}Showrooms - OlaPulse{% endblock %}

{% block content %}
<h1>Ola Showrooms</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Map Link</th>
    </tr>
  </thead>
  <tbody>
    {% for showroom in showrooms %}
    <tr>
      <td>{{ showroom.name }}</td>
      <td>{{ showroom.address }}</td>
      <td>{{ showroom.phone }}</td>
      <td>
        {% if showroom.map_link %}
          <a href="{{ showroom.map_link }}" target="_blank">View Map</a>
        {% else %}
          N/A
        {% endif %}
      </td>
    </tr>
    {% else %}
    <tr><td colspan="4">No showrooms found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
